# Systeembeheer assignment submissions

This repository contains the assignment submissions of

{% for student in students %}
* {{student.record["First Name"]}} {{student.record["Last Name"]}}
{% endfor %}
